<div class="panel panel-default panel-primary" style="margin-top:15px;">
  	<div class="panel-heading">Lista de egresados</div>
  	<div class="panel-body">
  		<button class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="formModal(-1)"">Agregar egresado</button>	
  		<table class="table table-striped">
      		<thead>
        		<tr>
          			<th>Nombre</th>
		          	<th>Rut</th>
		          	<th>Carrera</th>
		          	<th>Opciones</th>
		        </tr>
      		</thead>
      		<tbody>
      			<% _.each(egresados, function(egresado) { %>
      				<tr>
						<td><%= egresado.nombre %> <%= egresado.apellido %></td>
						<td><%= egresado.rut %></td>
						<td><%= egresado.carrera %></td>
						<td>
							<div class="row" align="center">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<i class="fa fa-search fa-lg"  data-toggle="modal" data-target="#detalle" onclick="ver(<%=egresado.id_egresado%>)"></i>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<i class="fa fa-pencil fa-lg" data-toggle="modal" data-target="#myModal" onclick="formModal(<%=egresado.id_egresado%>)"></i>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<i class="fa fa-trash-o fa-lg" onclick="eliminar(<%=egresado.id_egresado%>)"></i>
								</div>
							</div>
						</td>
					</tr>
				<% }) %>	
			</tbody>
    	</table>
  	</div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  	<div class="modal-dialog modal-lg">
  	<!-- Modal content-->
    	<div class="modal-content">
      		<div class="modal-header" style="background-color:blue;color:white;border-top-left-radius:5px;border-top-right-radius:5px;">
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        		<h4 class="modal-title"><span id="tituloFormModal"></span></h4>
      		</div>
      		<div class="modal-body">
        		<form id="formulario-egresados" action="/egresados/create" method="POST">
        			<div class="container-fluid">
					    
					    <div class="col-lg-4 form-group">
				            <label for="nombre">Nombre</label>
			                <input type="text"
			                        class="form-control"
			                        name="nombre" id="nombre"
			                        data-validation="required custom"
			                        data-validation-regexp="^([a-zA-Z\s]+)$"
			                        data-validation-help="Ingrese solo letras y espacios.">
		 				</div>
					    
					    <div class="col-lg-4 form-group">
			                <label for="apellido">Apellido</label>
			                <input type="text"
			                       	class="form-control"
			                       	name="apellido"
			                       	id="apellido"
			                       	data-validation="required custom"
			                       	data-validation-regexp="^([a-zA-Z\s]+)$"
			                       	data-validation-help="Ingrese solo letras y espacios.">
					    </div>

					    <div class="col-lg-4 form-group">
			                <label for="rut">Rut</label>
			                <input type="text"
			                       	class="form-control"
			                       	name="rut"
			                       	id="rut"
			                       	data-validation="required rutFormato rutDigitoVerificador"
			                        data-validation-help="Ingrese RUT sin digitos y con guión.">      
						</div>

					</div>
					<div class="container-fluid">
					    <div class="col-lg-4">
					 
					 
					        <div class="form-group">
					        	<label for="ingreso">Año Ingreso</label>
					        	<input type="number"
                           			class="form-control"
                           			name="ingreso"
                           			id="ingreso"
                           			required="required">
				        	</div>					 
					 
					     </div>
					    <div class="col-lg-4">
					 
					 
					        <div class="form-group">
					        	<label for="egreso">Año Egreso</label>
					        	<input type="number" class="form-control" name="egreso" id="egreso" required="required" novalidate>
	                  		</div>				 
					         
					    </div>
					    <div class="col-lg-4">
					 
					        <div class="form-group">
					        	<label for="titulacion">Año Titulación</label>
					        	<input type="number" class="form-control" name="titulacion" id="titulacion">
				        	</div>
					         
					    </div>
					</div>
					<div class="container-fluid">
					    <div class="col-lg-4">
					 
					        <div class="form-group">
					        	<label for="carrera">Carrera</label>
					        	<select class="form-control"
			                            name="carrera"
			                            id="carrera"
			                            data-validation="required"
			                            data-validation-help="Escoga una alternativa.">
			                      	<option value="0">Elegir</option>
					        		<option value="1">Ejecución</option>
					        		<option value="2">Informática</option>
				        			<option value="3">Civil</option>
					        	</select>
				        	</div>					 
					 
					    </div>
					    <div class="col-lg-4">
					 
					        <div class="form-group">
					        	<label for="postgrado">Postgrado</label>
					        	<select class="form-control" name="postgrado" id="postgrado">
					        		<option value="0">Ninguno</option>
					        		<option value="1">Magister</option>
					        		<option value="2">Doctorado</option>
					        	</select>
					        </div>
					         
					    </div>
					    <div class="col-lg-4 form-group">
			                <label for="a_postgrado">Área Postgrado</label>
			                <select class="form-control"
			                        name="a_postgrado"
			                        id="a_postgrado"
			                        disabled="disabled"
			                        data-validation="required"
			                        data-validation-help="Ingrese RUT sin digitos y con guión."
			                        data-validation-depends-on="postgrado"
			                        data-validation-depends-on-value="1, 2">
			                  	<option value="0">Elegir...</option>
			                  	<option value="1">Informática</option>
			                  	<option value="2">Negocio</option>
			                  	<option value="3">Otros</option>
			                </select>
			            </div>
					</div>
					<div class="container-fluid">
					    <div class="col-lg-4">
					 
					        <div class="form-group">
					        	<label for="satisfaccion">Satisfacción Carrera</label>
					        	<input placeholder=" - " type="text" class="form-control" name="satisfaccion" id="satisfaccion">
					        </div>					 
					 
					    </div>
					    <div class="col-lg-4">
					 
					        <div class="form-group">
					        	<label for="nota">Nota Carrera</label>
					        	<select class="form-control" name="nota" id="nota">
								  	<option value="1">1</option>
								  	<option value="2">2</option>
								  	<option value="3">3</option>
								  	<option value="4">4</option>
								  	<option value="5">5</option>
								</select>
					        </div>
					         
					    </div>
					    <div class="col-lg-4">
					 
					        <div class="form-group">
					      		<label for="cv">Curriculum Vitae</label>
					        	<div class="input-group">
					                <label class="input-group-btn">
					                    <span class="btn btn-default">
					                        Explorar...<input type="file" style="display: none;" id="cv" name="cv">
					                    </span>
					                </label>
					                <input type="text" class="form-control" readonly>
					            </div>
					      	</div>
					         
					    </div>
					</div>
					<div class="container-fluid">
					    <div class="col-lg-12">
					 
					        <div class="form-group">
					        	<label for="linkedin">Linkedin</label>
					        	<input placeholder=" - " type="url" class="form-control" name="linkedin" id="linkedin">
					        </div>					 
					 
					    </div>
					</div>
					<div class="container-fluid">
					    <div class="col-lg-12">
					 
					        <div class="form-group">
					        	<label for="capacitacion">Necesidad Capacitación</label>
					        	<textarea placeholder=" - " name="capacitacion" id="capacitacion" class="form-control"></textarea>
					        </div>					 
					 
					    </div>
					</div>
        		</form>
      		</div>
      		<div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		        <button type="submit" class="btn btn-success" form="formulario-egresados">Guardar</button>
	      	</div>
    	</div>
  	</div>
</div>
<div id="detalle" class="modal fade" role="dialog">
  	<div class="modal-dialog">
  	<!-- Modal content-->
    	<div class="modal-content">
      		<div class="modal-header" style="background-color:blue;color:white;border-top-left-radius:5px;border-top-right-radius:5px;">
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        		<h4 class="modal-title"><span name="verNombre"></span></h4>
      		</div>
      		<div class="modal-body">
        		<ul>
        			<li>
        				Nombre: <span name="verNombre"></span>
        			</li>
        			<li>
        				Rut: <span name="verRut"></span>
        			</li>
        			<li>
        				Año Ingreso: <span name="verIngreso"></span>
        			</li>
        			<li>
        				Año Egreso: <span name="verEgreso"></span>
        			</li>
        			<li>
        				Año Titulación: <span name="verTitulacion"></span>
        			</li>
        			<li>
        				Carrera: <span name="verCarrera"></span>
        			</li>
        			<li>
        				Postgrado: <span name="verPostgrado"></span>
        			</li>
        			<li>
        				Área de postgrado: <span name="verAreaPostgrado"></span>
        			</li>
        			<li>
        				Satisfaccion con la carrera: <span name="verSatisfaccion"></span>
        			</li>
        			<li>
        				Nota Carrera:
			        	<select id="notaFix">
						  	<option value="1">1</option>
						  	<option value="2">2</option>
						  	<option value="3">3</option>
						  	<option value="4">4</option>
						  	<option value="5">5</option>
						</select>
        			</li>
        			<li>
        				Curriculum Vitae: <span name="verCV"></span>
        			</li>
        			<li>
        				Linkedin: <span name="verLinkedin"></span>
        			</li>
        			<li>
        				Necesidad de capacitacion: 
        				<div class="container-fluid" name="verCapacitacion">
        					<span></span>		
        				</div>
        			</li>
        		</ul>
      		</div>
      	</div>
  	</div>
</div>