<!DOCTYPE html>
<html>

<head>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script type="text/javascript" src="/js/codigo.js"></script>

</head>


<body>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-title">
                        <strong>Empleos del egresado: <span id="empleadoSelect"></span> </strong>
                    </div>
                </div>
                <div class="modal-body" data-backdrop="static" data-keyboard="false">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped ">
                            <thead class="thead-default">
<div class="input-group">
<span class="input-group-addon">Egresado</span>


            </select>
                                <tr class="headerTablaModal">
                                    <th>N°</th>
                                    <th>Empresa</th>
                                    <th>Pais</th>
                                    <th>Comuna</th>
                                    <th>Fecha inicio</th>
                                    <th>Fecha termino</th>
                                    <th>Cargo</th>
                                    <th>Supervisor</th>
                                    <th>Rango sueldo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    
                                    <th scope="row">1</th>
                                    
                                    <td>falta agregar el nombre de la bd</th>
                                    
                                    <td><span class=textoNegroPanel id=paisEmpleo></td>
                                    <td>ciudad</td>
                                    <td class="texto-naranjo-negrita">inicio</td>
                                    <td class="texto-naranjo-negrita">termino</td>
                                    <td>cargo</td>
                                    <td>supervisor</td>
                                    <td>sueldo</td>

                                </tr>
                                 
                                
                            </tbody>
                        </table>


                    </div>
                </div>
                <div class="modal-footer" style="text-align:center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <i class="fa fa-undo" aria-hidden="true"></i> Volver</button>
                </div>
            </div>
        </div>
    </div>


    <br/>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

            </div>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="/inicioEmpleos">Agregar empleo</a></li>
                    <li role="presentation"><a href="/addSupervisor">Agregar Supervisor</a></li>
                    <li class="active" role="presentation"><a href="/listaEmpleos">Ver empleos</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <br/>

    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <strong><i class="fa fa-info-circle"></i> En esta sección podra ver todos los empleos de los agresados</strong>
        </div>
        <br/><br/>
    </div>


    <div class="col-md-12">
        <div class="panel panel-primary">

            <div class="panel-heading" style="text-align:center">Lista de egresados y empleos</div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-bordered table-striped ">
                        <thead class="thead-default">
                            <tr class="headerTablaEmpleados">
                                <th>N°</th>
                                <th>Nombre</th>
                                <th>Rut</th>
                                <th>Carrera</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <% _.each(egresados, function(egresado) { %>
                                <th scope="row"><%= egresado.cont %></th>
                                <td><%= egresado.nombreRut %></td>
                                <td><%= egresado.Rut %></td>
                                <td><%= egresado.carrera %></td>
                                
                                <td>
                                    <button  type="button" id= egresado.id_egresado  class="btn btn-info" data-toggle="modal" data-target="#myModal" title="ver empleos" onclick="getEmpleoSelect()" value= <%= egresado.id_egresado %> >

                                    <span class="fa fa-eye"></span>
                                    </button>
                                    <button type="button" class="btn btn-success" data-toggle="modal" title="editar">
                                        <span class="fa fa-pencil-square-o"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" title="eliminar">
                                        <span class="fa fa-ban"></span>
                                    </button>
                                </td>
                            </tr>
                            <% }) %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
