<div class="container-fluid">
	<br>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Empresa</h3>
		</div>
		<div class="panel-body">

			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<form method="post" action="/Actualizar">
							<div class="table-responsive">

								<table class="table table-bordered table-striped ">
									<thead class="thead-default">
										<tr class="headerTablaEmpleados">
											<th>Nombre</th>
											<th>Rut</th>
											<th>Rubro</th>
											<th>Pais origen</th>
											<th>Especialidad</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">
												<%=company[0].nombre%>
											</th>
											<td>
												<label><%=company[0].rut%></label>
											</td>
											<td>
												<label><%=company[0].rubro%></label>
											</td>
											<td>
												<label><%=company[0].pais_origen%></label>
											</td>
											<td>
												<label><%=company[0].especialidad%></label>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
						<div class="form-group" align="center">
							<a type="button" href="/Empresa" data-dismiss="modal" class="btn btn-success">Volver</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>